{% extends 'navigation/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Login {% endblock %}

{% block content %}
      <section class="content-header">
          <h1>
            Bienvenido
          </h1>
          <ol class="breadcrumb">
            <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Inicio</a></li>
          </ol><br/>
        </section>
        <div class="box box-primary">
        </div>
	<div class="row">
		<div class="col-md-5 col-md-offset-3">
		<br/>
		    <div class="login-panel panel panel-default">
		        <div class="panel-heading">
		            <h3 class="panel-title">Por favor, ingrese sus credenciales</h3>
		        </div>
		        <div class="panel-body">
		            <form role="form" method="post">
		            	{% csrf_token %}
		                <fieldset>
		                   <p> {{ form | crispy }} </p>
		                    <!-- Change this to a button or input when using this as a form -->
		                    <button type="submit" class="btn btn-primary btn-lg btn-block">Ingresar</button>
		                </fieldset>
		            </form>
		        </div>
		    </div>
		</div>
	</div>
{% endblock %}