{% extends 'navigation/base.html' %}
{% block content %}
<section class="content-header">
  <h1>
    Usuarios
  </h1>
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Inicio</a></li>
    <li><a href="{% url 'users:index'%}"> Lista de Usuarios</a></li>
    <li class="active">{{customUser.username}}</li>
  </ol>
</section>
<section class="content-header">
	<div class="row">
		<div class="box box-primary">
	        <div class="box-header">
		        <div class="col-lg-12">
		            <h1 class="text-center"><strong>Mis datos personales</strong></h1>
		        </div>
	        </div>
		     <div class="col-md-10 col-md-offset-1">
		     	<br/>
			    <div class="panel panel-default">
			        <div class="panel-body">
			        	<div class="row">
			                <div class="col-lg-12">
			                    <div class="panel panel-default">
			                        <div class="panel-heading">
			                            <strong>Mi Perfil</strong>
			                        </div>
			                        <!-- /.panel-heading -->
			                        <div class="panel-body">
			                            <!-- Nav tabs -->
			                            <ul class="nav nav-tabs">
			                                <li class="active"><a href="#my_info" data-toggle="tab"><strong>Datos de la Persona</strong></a>
			                                </li>
			                                <li><a href="#profile" data-toggle="tab"><strong>Datos de Usuario</strong></a>
			                                </li>
			                            </ul>

			                            <!-- Tab panes -->
			                            <div class="tab-content">
			                                <div class="tab-pane fade in active" id="my_info">
			                                    <div class="col-md-6 col-md-offset-3">
										            <div class="table-responsive">
											            <table class="table table-condensed table-responsive table-user-information">
											                <tbody>
											                    <tr>        
											                        <td>
											                            <strong>
											                                <span class="glyphicon glyphicon-chevron-right text-primary"></span>
											                                Identificacion                                                
											                            </strong>
											                        </td>
											                        <td class="text-primary">
											                            {{customUser.person.document_id}}    
											                        </td>
											                    </tr>
											                    <tr>    
											                        <td>
											                            <strong>
											                                <span class="glyphicon glyphicon-chevron-right  text-primary"></span>    
											                                Primer Nombre                                                
											                            </strong>
											                        </td>
											                        <td class="text-primary">
											                            {{customUser.person.first_name}}     
											                        </td>
											                    </tr>
											                    <tr>        
											                        <td>
											                            <strong>
											                                <span class="glyphicon glyphicon-chevron-right text-primary"></span>  
											                                Segundo Nombre                                                
											                            </strong>
											                        </td>
											                        <td class="text-primary">
											                            {{customUser.person.second_name}}   
											                        </td>
											                    </tr>

											                    <tr>        
											                        <td>
											                            <strong>
											                                <span class="glyphicon glyphicon-chevron-right text-primary"></span> 
											                                Primer Apellido                                                
											                            </strong>
											                        </td>
											                        <td class="text-primary">
											                            {{customUser.person.last_name}} 
											                        </td>
											                    </tr>


											                    <tr>        
											                        <td>
											                            <strong>
											                                <span class="glyphicon glyphicon-chevron-right text-primary"></span> 
											                                Segundo Apellido                                                 
											                            </strong>
											                        </td>
											                        <td class="text-primary">
											                            {{customUser.person.second_last_name}} 
											                        </td>
											                    </tr>
											                    <tr>        
											                        <td>
											                            <strong>
											                                <span class="glyphicon glyphicon-chevron-right text-primary"></span>
											                                Dirección                                                
											                            </strong>
											                        </td>
											                        <td class="text-primary">
											                            {{customUser.person.direction}} 
											                        </td>
											                    </tr>                                  
											                </tbody>
											            </table>
										            </div>
										            <div class="pull-right"> <a href="{% url 'users:update_info_person' customUser.id %}" class="btn btn-primary btn-flat">Editar mi datos</a></div>
										         </div>
			                                </div>
			                                <div class="tab-pane fade" id="profile">
			                                    <div class="col-md-6 col-md-offset-3">
										            <div class="table-responsive">
											            <table class="table table-condensed table-responsive table-user-information">
											                <tbody>
											                    <tr>        
											                        <td>
											                            <strong>
											                                <span class="glyphicon glyphicon-user text-primary"></span>
											                                Nombre de Usuario 
											                            </strong>
											                        </td>
											                        <td class="text-primary">
											                            {{customUser.username}}    
											                        </td>
											                    </tr>
											                    <tr>        
											                        <td>
											                            <strong>
											                                <span class="glyphicon glyphicon-user text-primary"></span>
											                                Contraseña</strong>
											                        </td>
											                        <td class="text-primary">
											                            ********   
											                        </td>
											                    </tr>
											                    <tr>        
											                        <td>
											                            <strong>
											                                <span class="glyphicon glyphicon-user text-primary"></span> 
											                                Correo Electrónico                                                
											                            </strong>
											                        </td>
											                        <td class="text-primary">
											                            {{customUser.email}} 
											                        </td>
											                    </tr>
											                     <tr>        
											                        <td>
											                            <strong>
											                                <span class="glyphicon glyphicon-user text-primary"></span>
											                                Estatus:                                                
											                            </strong>
											                        </td>
											                        <td class="text-primary">
											                            {{customUser.status_user}}    
											                        </td>
											                    </tr>
											                     <tr>        
											                        <td>
											                            <strong>
											                                <span class="glyphicon glyphicon-user text-primary"></span>
											                                Tipo de Usuario:                                                
											                            </strong>
											                        </td>
											                        <td class="text-primary">
											                            {{customUser.rol_user}}    
											                        </td>
											                    </tr>                        
											                </tbody>
											            </table>
										            </div>
										            <div class="pull-right"> <a href="{% url 'users:edit' customUser.id %}" class="btn btn-primary btn-flat">Editar datos de Usuario</a></div>
										         </div>
			                                </div>
			                            </div>
			                        </div>
			                        <!-- /.panel-body -->
			                    </div>
			                    <!-- /.panel -->
			                </div>
			                <!-- /.col-lg-6 -->
			            </div>
			        </div>
			    </div>
			</div>
		</div>
    </div>
</section>
{% endblock %}