{% extends 'navigation/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Editar datos de la Empresa {% endblock %}

{% block content %}
<section class="content-header">
  <h1>
    Empresa
  </h1>
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Inicio</a></li>
    <li><a href="{% url 'store:company_info' company_id%}"><i class="fa fa-dashboard"></i> Empresa</a></li>
    <li class="active">Detalles Empresa</li>
  </ol>
</section>
<section class="content-header">
	<div class="row">
		<div class="box box-primary">
	        <div class="box-header">
		        <div class="col-lg-12">
		            <h1 class="text-center"><strong>Editar datos de la empresa</strong></h1>
		        </div>
	        </div>
	        <!-- /.col-lg-12 -->
		     <div class="col-md-10 col-md-offset-1">
		     	<br/>
			    <div class="panel panel-default">
			        <div class="panel-heading">
			            <h3 class="panel-title"><strong>Por favor, llene los siguientes campos</strong></h3>
			        </div>
			        <div class="panel-body">
		        		<form method="post" role="form"> 
		        		{% if form.errors %}
                          <div class="alert alert-warning alert-dismissable" role="alert">
                            <button class="close" data-dismiss="alert">
                              <small><sup></sup></small>
                            </button>
                            {% for field in form %}
                                {% if field.errors %}
                                    {{field.errors}}
                                {% endif %}
                            {% endfor %}
                          </div>
                        {% endif %}
		        			 <fieldset>
								{% csrf_token %}
								<div class="col-xs-8 col-md-offset-2">
									<p> {{ form | crispy }} </p>
									<a class="btn btn-warning pull-right" href="{% url 'store:company_info' company_id%}"> Cancelar </a>
									<button class="btn btn-primary pull-right" type="submit"> Actualizar </button>
								</div>
							 </fieldset>
						</form>
			        </div>
			    </div>
			</div>
		</div>
    </div>
</section>
{% endblock %}