{% extends 'navigation/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Cambiar Contraseña</h1>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Por favor, actualice los siguientes campos</h3>
            </div>
            <div class="panel-body">
                    <form method="post" role="form"> 
                        {% if form.errors %}
                          <div class="alert alert-warning alert-dismissable" role="alert">
                            <button class="close" data-dismiss="alert">
                              <small><sup></sup></small>
                            </button>
                            <p> Tu formulario tiene los siguientes errores...</p>
                            {% for field in errors %}
                                {% if field.errors %}
                                    {{field.errors}}
                                {% endif %}
                            {% endfor %}
                          </div>
                        {% endif %}
                         <fieldset>
                            {% csrf_token %}
                            <div class="col-xs-8 col-md-offset-2">
                                {{ form.as_p}}
                                <button class="btn btn-primary" type="submit"> Actualizar Contraseña</button>
                            </div>
                         </fieldset>
                    </form>
                    <br/>
                        <p><small><a href="{% url 'edit' %}">Pulsa aqui</a> para cambiar tus datos de usuario</small></p>
                        <p><small><a href="{% url 'update_info_person' %}">Pulsa aqui</a> para cambiar tus personales</small></p>
            </div>
        </div>
    </div>
{% endblock %}